@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-semibold.ttf);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
}
ul {
  padding: 0;
}

.container {
  width: 1600px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* !index.html */
/* !Header */
/* !header top side */
.wrapper--black {
  background-color: black;
}
.wrapper--top {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-addres__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #ffffff;
  text-decoration: none;
}
.wrapper__list {
  display: flex;
  list-style: none;
}
.wrapper__icon {
  margin-right: 8px;
}
.wrapper__link {
  font-family: 'Gilroy';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.wrapper__item:nth-child(2) {
  margin-left: 50px;
}
.wrapper__link--medium {
  font-weight: 500;
}

/*  !header bottom side */
.wrapper--white {
  background-color: #ffffff;
}
.wrapper--bot {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  padding-top: 12px;
  padding-bottom: 11px;
}
.header__navigation {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navigation__list {
  display: flex;
  list-style-type: none;
}
.navigation__item:not(:last-child) {
  margin-right: 56px;
}
.navigation__link {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.21;
  letter-spacing: 0em;
  color: #20242d;
  text-decoration: none;
}
.navigation__link--active {
  color: #ff7129;
  position: relative;
}
.header-navigation__link::before {
  position: absolute;
  left: -15px;
  top: 9px;
  display: block;
  content: '';
  width: 10px;
  height: 1px;
  background-color: #ff7129;
}
.header-navigation__link::after {
  position: absolute;
  right: -15px;
  top: 9px;
  display: block;
  content: '';
  width: 10px;
  height: 1px;
  background-color: #ff7129;
}
/* !main */
.main__container {
  position: relative;
}
.main-wrapper {
  background-image: url(../images/bg-indexhtml.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main__decor {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;

  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  color: transparent;
  letter-spacing: 0em;
  text-align: left;
}
.main__decor--left {
  position: absolute;
  font-size: 120px;
  line-height: 145px;
  top: 167px;
  left: 50px;
}
.main__decor--right {
  position: absolute;
  font-size: 120px;
  line-height: 145px;
  right: 50px;
  bottom: 282px;
}
.start-screen--first {
  padding-bottom: 139px;
  padding-top: 271px;
}
.start-screen__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}
.start-screen__title--first {
  font-size: 92px;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 270px;
  padding-right: 269px;
}
.start-screen__title--second {
  font-size: 48px;
  line-height: 1;
  color: #ffffff;
  border-left: 1px solid #ff7129;
  padding-left: 16px;
}
.start-screen__subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin-top: 16px;
}

.btn {
  width: 187px;
  height: 49px;
  background: #ff7129;
  box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}
.main__btn {
  display: block;
  margin-top: 59px;
  margin-left: auto;
  margin-right: auto;
}
.btn--dark {
  background-color: #20242d;
  border: 1px solid #ff7129;
  box-sizing: border-box;
  box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.67);
}
.btn__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  color: #ffffff;
}

.btn-scroll {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #7b7e85;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 106px;
}

/* !main content */
.content--first {
  display: flex;
  background-image: url(../images/bg-2block.png);
  background-repeat: no-repeat;
  background-position-y: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 132px;
  padding-bottom: 115px;
}
.main-content {
  position: relative;
  margin-left: 37px;
  padding-left: 28px;
  padding-top: 69px;
}
.main-content__decor {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 1.2;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgba(32, 36, 45, 0.1);
  color: transparent;
  letter-spacing: 0em;
}
.main-content__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #20242d;
  margin-bottom: 64px;
  padding-left: 16px;
  border-left: 1px solid #ff7129;
  z-index: 10;
}
.main-content__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #20242d;
}

/* !footer */
.footer {
  background-color: #20242d;
}
/* !footer top side */

.wrap--top {
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  padding-bottom: 52px;
}

.wrap--bot {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #7b7e85;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navigation__link--white {
  color: #ffffff;
}

.wrap-bot__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  color: #7b7e85;
}

/* ! modal*/
.modal {
  position: absolute;
  left: 458px;
  top: 253px;
  padding-left: 58px;
  padding-right: 58px;
  padding-top: 95px;
  padding-bottom: 72px;
  background-color: #ffffff;
  /* width: 800px;
  height: 516px; */
}
.modal__btn {
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 0px;
  top: 16px;
  right: 16px;
}
.modal__icon {
  width: 20px;
  height: 20px;
}
.modal__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 97%;
  color: #20242d;
  margin-bottom: 16px;
  border-left: 1px solid #ff7129;
  padding-left: 16px;
}
.modal__subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #20242d;
  margin-bottom: 64px;
}
.modal__form {
  display: flex;
}
.modal__form:last-child {
  margin-left: 20px;
}
.modal__label--text {
  display: block;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7b7e85;
  margin-bottom: 12px;
}
.modal__input {
  width: 327px;
  height: 52px;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding-left: 24px;
  padding-top: 16px;
  padding-bottom: 17px;
}
.modal__btn--down {
  width: 187px;
  height: 49px;
  background: #ff7129;
  box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
  margin-top: 40px;
  border: 0px;
}
.modal__btn--text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}
/* !onas.html */
.start-screen--second {
  position: relative;
  background-image: url(../images/bg-aboutus.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 103px;
  padding-left: 150px;
}
.main__decor--second {
  position: absolute;
  left: 173px;
  top: 131px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  text-transform: uppercase;
}
.main__container--second {
  display: flex;
}
.content--second {
  padding-top: 80px;
  padding-left: 268px;
  padding-right: 266px;
  padding-bottom: 184px;
  background-image: url(../images/bg-2block.png);
  background-size: 640px 640px;
  background-repeat: no-repeat;
  background-position: 31px 112px;
}
.content__subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #20242d;
}
.content__subtitle--right {
  margin-left: 66px;
}

/* !projecty.html */
.gallery {
  position: relative;
  padding-top: 123px;
  padding-bottom: 153px;
}
.gallery__decor {
  position: absolute;
  left: 241px;
  top: 55px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;
  text-transform: uppercase;
  -webkit-text-stroke: 1px rgba(32, 36, 45, 0.1);
  color: transparent;
  letter-spacing: 0em;
}
.gallery__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  color: #20242d;
  margin-left: 218px;
  margin-bottom: 77px;
  border-left: 1px solid #ff7129;
  padding-left: 16px;
}
.gallery__wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery__wrapper {
  margin-left: 91px;
  margin-right: 91px;
}
.gallery__button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ff7129;
}

.hidden {
  display: none;
}
.gallery__text {
  position: absolute;
  left: 839px;
  top: 769px;
}
.gallery__text--bold {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}
.gallery__text--grey {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #7b7e85;
}
