@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-bold.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/gilroy-semibold.ttf);
  font-weight: 600;
  font-style: normal;
}
/* !index.html */
/* !Header */
/* !header top side */
.wrapper-top {
  background-color: #20242d;
}

.main-addres__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  text-decoration: none;
}
.wrapper-top__list {
  list-style: none;
}
.wrapper-top__link {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}
.wrapper-top__link--medium {
  font-weight: 500;
}
.wrapper-top__icon {
  width: 14px;
  height: 14px;
}

/*  !header bottom side */
.wrapper-bot {
  background-color: #ffffff;
}
.navigation__list {
  list-style-type: none;
}

.navigation__link {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: #20242d;
  text-decoration: none;
}
.navigation__link--active {
  color: #ff7129;
}
/* !main */
.start-screen__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  background-color: black;
}
.start-screen__title--first {
  font-size: 92px;
  line-height: 111px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

/* .start-screen__icon {
  box-shadow: 0px 4px 4px;
  background-color: rgba(0, 0, 0, 0.25);
} */

.start-screen__subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: black;
}

.btn {
  width: 187px;
  height: 49px;
  background: #ff7129;
  box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}

.btn__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.btn-scroll {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #7b7e85;
}
.btn-scroll__icon {
  width: 24px;
  height: 24px;
}

/* !main content */
.main-content__title {
  font-family: Gilroy;
  font-style: 700;
  font-weight: bold;
  font-size: 48px;
  line-height: 97%;
  color: #20242d;
}
.main-content__text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #20242d;
}

/* !footer */
.footer {
  background: #20242d;
}
/* !footer top side */

.navigation__link--white {
  color: #ffffff;
}

.btn--dark {
  background-color: #20242d;
  border: 1px solid #ff7129;
  box-sizing: border-box;
  box-shadow: (0px 4px 28px rgba(255, 113, 41, 0.67));
}
.wrap-bot__link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #7b7e85;
}

/* !onas.html */

.start-screen_title--second {
  font-size: 48px;
  line-height: 97%;
  color: #ffffff;
}

.content__subtitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #20242d;
}

/* !projecty.html */
.gallery__title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 97%;
  color: #20242d;
}

.gallery__botton {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #ff7129;
}
.gallery__icon {
  width: 32px;
  height: 32px;
}
